body {
  margin: 0;
}

.page {
  min-height: 100vh;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-text-secondary;

  &__content {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
